In [0]:
peopleDF= spark.read.parquet("/FileStore/tables/people-parquet")
peopleDF.show(5)

In [0]:
peopleDF.groupBy("firstName").count()\
        .orderBy("count", ascending=False)\
        .show(5)

In [0]:
peopleDF.groupBy("firstName").count().show(5)

In [0]:
from pyspark.sql.functions import col
peopleDF.groupBy("middleName").count()\
        .filter(col("count") <= "3000")\
        .orderBy("count")\
        .show(5)

In [0]:
# 11주차 강의 과제 9

In [0]:
peopleDF= spark.read.parquet("/FileStore/tables/people-parquet")
peopleDF.show(5)

In [0]:
peopleDF['firstName','middleName'].show(5)

In [0]:
peopleDF.columns

In [0]:
name_lst = [c for c in peopleDF.columns if 'Name' in c]
print(name_lst)
nameDF = peopleDF[name_lst]
nameDF.show(1)

nameDF.groupBy('middleName').count().show(5)

In [0]:
firstName = peopleDF.select('firstName').distinct()
print(firstName.count())
sortingDF = firstName.orderBy('firstName', ascending=False)
sortingDF.show(5)

In [0]:
math_score = [('tom', 70), ('bob', 100), ('sam', 60), ('lee', 85), ('jun', 75)]
table_math = spark.createDataFrame(math_score, ['name', 'score'])

english_score = [('tom', 55), ('sam', 88), ('kim', 90), ('jun', 67), ('choi', 95)]
table_english = spark.createDataFrame(english_score, ['name', 'score'] )

mathS_df = table_math.alias('mathS_df')
englishS_df = table_english.alias('englishS_df')

mathS_df.show()
englishS_df.show()

In [0]:
mathS_df = mathS_df.withColumnRenamed('score', 'math score')
englishS_df = englishS_df.withColumnRenamed('score', 'english score')

join1 = mathS_df.join(englishS_df, mathS_df.name == englishS_df.name)
join1.show()

In [0]:
mathS_df.show(5)

In [0]:
mathS_df = mathS_df.withColumnRenamed('score', 'math score')
englishS_df = englishS_df.withColumnRenamed('score', 'english score')
mathS_df.show()

In [0]:
mathS_df = mathS_df.withColumnRenamed('score', 'math score')
englishS_df = englishS_df.withColumnRenamed('score', 'english score')

join2 = mathS_df.join(englishS_df, mathS_df.name == englishS_df.name, how='outer')\
                .filter(mathS_df.name.isNull())
join2.show()

In [0]:
mathS_df.join(englishS_df, mathS_df.name == englishS_df.name, how='outer').show()

In [0]:
#12주차

In [0]:
from pyspark.sql import Row

birth_rdd = sc.textFile('/FileStore/tables/birth.txt')
birth_split = birth_rdd.map(lambda x : x.split("/"))
birth_row = birth_split.map(lambda x : Row(name=x[0], year=x[1], month=x[2], day=x[3], city=x[4]))

birth_df = sqlContext.createDataFrame(birth_row)
birth_df.show()

In [0]:
peopleDF= spark.read.parquet("/FileStore/tables/people-parquet")
peopleDF.show(5)

In [0]:
import pyspark.sql.functions as f

peopleDF.filter("salary<=20000")\
        .withColumn("salary", f.abs(f.col("salary")))\
        .withColumn("new_salary", f.round(f.col("salary")*1.1)).show(5)

In [0]:
peopleDF.filter("salary<=20000").show(5)

In [0]:
peopleDF.filter("salary<=20000")\
        .withColumn("salary", f.abs(f.col("salary"))).show(5)

In [0]:
peopleDF.filter("salary<=20000")\
        .withColumn("salary", f.abs(f.col("salary")))\
        .withColumn("new_salary", f.round(f.col("salary")*1.1)).show(5)

In [0]:
import pyspark.sql.functions as f

peopleDF.filter('salary>=30000')\
        .select(f.max("salary"), f.min("salary"),
                f.round(f.avg("salary")).alias("averageSalary")).show()

In [0]:
import pyspark.sql.functions as f

peopleDF.groupBy('lastName','gender')\
        .agg(f.count('*').alias('count'), f.max('salary').alias('max salary'))\
        .show(5)

In [0]:
# 13주차

In [0]:
crimeDataNewYork = spark.read.parquet("/FileStore/tables/crime_data/Crime-Data-New-York-2016.parquet")
crimeDataBoston = spark.read.parquet("/FileStore/tables/crime_data/Crime-Data-Boston-2016.parquet")
crimeDataChicago = spark.read.parquet("/FileStore/tables/crime_data/Crime-Data-Chicago-2016.parquet")

In [1]:
from pyspark.sql.functions import lower, col

sampleDF = crimeDataNewYork.select(col('reportDate').alias('date') ,col('offenseDescription').alias('offense'))\
                           .filter(lower(col('date')).contains('2016-11') & lower(col('offense')).contains('murder'))
sampleDF.show(5)

NameError: name 'crimeDataNewYork' is not defined

In [0]:
crimeDataNewYork.select(col('reportDate')).show(5)

In [0]:
crimeDataNewYork.select(month(col('reportDate'))).show(5)

In [0]:
homicidesNewYorkDF = crimeDataNewYork.select(month(col('reportDate')).alias('month'), col('offenseDescription').alias('offense'))\
                                     .filter(lower(col('offense')).contains('homicide'))

homicidesBostonDF = crimeDataBoston.select('month', col('OFFENSE_CODE_GROUP').alias('offense'))\
                                   .filter(lower(col('offense')).contains('homicide'))

homicidesChicagoDF = crimeDataChicago.select(month(col('date')).alias('month'), col('primaryType').alias('offense'))\
                                     .filter(lower(col('offense')).contains('homicide'))

allHomicidesDF = homicidesNewYorkDF.union(homicidesBostonDF).union(homicidesChicagoDF)

homicidesByMonth = allHomicidesDF.select('month').groupBy('month').count().orderBy('month')
homicidesByMonth.show(5)

In [0]:
from pyspark.sql.functions import lit

homicidesByMonthNewYork = homicidesNewYorkDF.select('month').groupBy('month').count().orderBy('month')
homicidesByMonthBoston = homicidesBostonDF.select('month').groupBy('month').count().orderBy('month')
homicidesByMonthChicago = homicidesChicagoDF.select('month').groupBy('month').count().orderBy('month')

unionHomicidesByMonth = homicidesByMonthNewYork.withColumn('city', lit('New York'))\
                                               .union(homicidesByMonthBoston.withColumn('city', lit('Boston')))\
                                               .union(homicidesByMonthChicago.withColumn('city', lit('Chicago')))
display(unionHomicidesByMonth)

month,count,city
2,1,New York
4,2,New York
8,1,New York
1,7,Boston
2,4,Boston
3,4,Boston
4,8,Boston
5,7,Boston
6,10,Boston
7,15,Boston
8,14,Boston
9,9,Boston
10,9,Boston
11,9,Boston
12,10,Boston
1,54,Chicago
2,47,Chicago
3,43,Chicago
4,40,Chicago
5,67,Chicago
6,78,Chicago
7,71,Chicago
8,94,Chicago
9,66,Chicago
10,80,Chicago
11,81,Chicago
12,58,Chicago

In [0]:
display(unionHomicidesByMonth)

month,count,city
2,1,New York
4,2,New York
8,1,New York
1,7,Boston
2,4,Boston
3,4,Boston
4,8,Boston
5,7,Boston
6,10,Boston
7,15,Boston
8,14,Boston
9,9,Boston
10,9,Boston
11,9,Boston
12,10,Boston
1,54,Chicago
2,47,Chicago
3,43,Chicago
4,40,Chicago
5,67,Chicago
6,78,Chicago
7,71,Chicago
8,94,Chicago
9,66,Chicago
10,80,Chicago
11,81,Chicago
12,58,Chicago